{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python - Основы Python, Самое необходимое об ООП
      </li>
      <li class="list-group-item">
        Django - Базы данных, Верстка для бэкендера
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-5">
    <p>Сложновато дается информация из курса по теме:
      Декораторы, Валидация, общее понимание есть что это такое, из за работы последнее время очень мало 
      времени на самостоятельную практику и дополнительного изучения по этим темам
    </p>
  </article>
</div>
{% endblock %} 