{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Подписки
{% endblock %}
{% block content %}
{% include 'includes/switcher.html' %}
  <div class="container py-5">
    <h1>Последнее обновление на сайте</h1>
  {% for post in page_obj %}
  <ul>
  {% include 'includes/card_posts.html' %}
  {% if post.group is not None %}
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {%endif%}
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include 'includes/paginator.html' %}
{% endblock %} 